@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

html {
    font-size: 100%;
}

/* Typographie */
a:hover,
a:active,
a:focus,
object,
*:focus {
  text-decoration: none;
  outline: 0 none transparent;
}
h1,h2,h3,h4{ font-family: 'Open Sans', sans-serif;}
p {font-family: 'Open Sans', sans-serif;}

.c-flexy {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    
  }
/* Header */
.header-wrapper {
    min-width: 100%;
}
.header-wrapper {
    border-bottom: 1px solid #ddd;
}
.header-wrapper {
    background-color: #F1F2F2;
}
header .container {
    height: 64px;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 540px;
    }
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 720px;
    }
  }
  
  @media (min-width: 992px) {
    .container {
      max-width: 960px;
    }
  }
  
  @media (min-width: 1200px) {
    .container {
      max-width: 960px;
    }
  }

  /* sidebar */
  .sidebar {
    min-width: 300px;
    border-left: 1px solid #F1F2F2;
    padding-right: 15px;
    padding-left: 15px;
  }
  .flux_info {
    width: calc(100% - 300px);
    padding-right: 15px;
    padding-left: 15px;
  }