@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

html {
    font-size: 100%;
}

/* Typographie */
a:hover,
a:active,
a:focus,
object,
*:focus {
  text-decoration: none;
  outline: 0 none transparent;
}
h1,h2,h3,h4{ font-family: 'Open Sans', sans-serif;}
p {font-family: 'Open Sans', sans-serif;}